# Hands-on: Generate Summary of Planning Analytics Data 

## Overview

This Jupyter Notebook provides an example of how to:

1. Connect to Planning Analytics server and retrieve dataset from Cube and View as a dataframe using TM1py.

2. Construt a prompt and pass the tabular dataset to Large Language Model (LLM) to generate a summary of the data.

In [1]:
# Install library
%pip install TM1py

Requirement already satisfied: TM1py in /opt/conda/envs/Python-RT23.1/lib/python3.10/site-packages (2.0.4)
Requirement already satisfied: ijson in /opt/conda/envs/Python-RT23.1/lib/python3.10/site-packages (from TM1py) (3.1.4)
Requirement already satisfied: requests in /opt/conda/envs/Python-RT23.1/lib/python3.10/site-packages (from TM1py) (2.31.0)
Requirement already satisfied: pytz in /opt/conda/envs/Python-RT23.1/lib/python3.10/site-packages (from TM1py) (2022.7)
Requirement already satisfied: mdxpy>=1.3.1 in /opt/conda/envs/Python-RT23.1/lib/python3.10/site-packages (from TM1py) (1.3.2)
Requirement already satisfied: networkx in /opt/conda/envs/Python-RT23.1/lib/python3.10/site-packages (from TM1py) (2.8.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/envs/Python-RT23.1/lib/python3.10/site-packages (from requests->TM1py) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/envs/Python-RT23.1/lib/python3.10/site-packages (from requests->TM1py) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/envs/Python-RT23.1/lib/python3.10/site-packages (from requests->TM1py) (1.26.19)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-RT23.1/lib/python3.10/site-packages (from requests->TM1py) (2024.7.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import libraries
import json
import os
import requests

from ibm_cloud_sdk_core.authenticators import IAMAuthenticator

# WML python SDK
from ibm_watson_machine_learning.foundation_models import Model
from ibm_watson_machine_learning.metanames import GenTextParamsMetaNames as GenParams
from ibm_watson_machine_learning.foundation_models.utils.enums import ModelTypes, DecodingMethods

from TM1py.Services import TM1Service
from TM1py.Exceptions import TM1pyException

## 1. Setup Connection to Planning Analytics

To get connected to Planning Analytics server, you need these informations:
- address
- port
- user
- password
- namespace

Your connection is successful when you see the *Server Name* and *Product Version* information.

In [3]:
#Set up connection to Planning Analytics server
try:
    with TM1Service(
        address='<YOUR PA SERVER ADDRESS HERE>,
        port= <YOUR PA PORT NUMBER HERE>,
        ssl=False,
        user="pm",
        password="IBMDem0s",
        namespace='Harmony LDAP'
    ) as tm1:
        print("Server Name:", tm1.server.get_server_name())
        print("Product Version:",tm1.server.get_product_version())

# Error Handling        
except TM1pyException as e:
    if e.status_code == 401:
        print('Wrong credentials')
    elif e.status_code == 404:
        print('Wrong connection')
    else:
        print('Something else went wrong. Check error code:', str(e))

Server Name: 24Retail
Product Version: 11.8.02300.10

## 2. Retrieve dataset from Cube and View

Define your existing Cube and View name and retrieve it as a dataframe, then convert to markdown.

In [4]:
# Define Cube and View name to be retrieved
cube_name = 'Revenue'
view_name = 'Input'

In [5]:
# Retrieve data from the Cube and View as a dataframe
# Read more here: https://code.cubewise.com/blog/getting-data-from-tm1-with-python/
df = tm1.cubes.cells.execute_view_dataframe(cube_name=cube_name, 
                                            view_name=view_name, 
                                            private=False)
#Display the dataframe
df

          Channel Month       Value
0   Channel Total   Jan  388.216048
1   Channel Total   Feb  408.470769
2   Channel Total   Mar  397.142034
3   Channel Total   Apr  393.118312
4   Channel Total   May  396.867192
5   Channel Total   Jun  400.012776
6   Channel Total   Jul  386.708433
7   Channel Total   Aug  389.416070
8   Channel Total   Sep  352.259358
9   Channel Total   Oct  350.727883
10  Channel Total   Nov  348.037120
11  Channel Total   Dec  352.957866
12  Channel Total  Year  376.545901
13             10   Jan  382.745613
14             10   Feb  394.206819
15             10   Mar  372.613702
16             10   Apr  365.049105
17             10   May  370.822272
18             10   Jun  376.801454
19             10   Jul  390.452960
20             10   Aug  396.827645
21             10   Sep  330.062803
22             10   Oct  328.059707
23             10   Nov  324.077602
24             10   Dec  331.683796
25             10  Year  358.096508
26             20   Jan  405.930297
27             20   Feb  417.379721
28             20   Mar  417.011701
29             20   Apr  416.866676
30             20   May  417.728739
31             20   Jun  416.193657
32             20   Jul  369.141174
33             20   Aug  368.681185
34             20   Sep  369.536537
35             20   Oct  368.912055
36             20   Nov  368.269327
37             20   Dec  370.430506
38             20  Year  388.219827
39             30   Jan  353.966476
40             30   Feb  456.823084
41             30   Mar  462.832872
42             30   Apr  461.980270
43             30   May  460.478744
44             30   Jun  459.626198
45             30   Jul  434.232593
46             30   Aug  433.896282
47             30   Sep  432.374844
48             30   Oct  430.899669
49             30   Nov  430.552552
50             30   Dec  430.015823
51             30  Year  438.881253

In [6]:
#Convert dataframe to markdown
df_md = df.to_markdown(index=False)
print(df_md)

| Channel       | Month   |   Value |
|:--------------|:--------|--------:|
| Channel Total | Jan     | 388.216 |
| Channel Total | Feb     | 408.471 |
| Channel Total | Mar     | 397.142 |
| Channel Total | Apr     | 393.118 |
| Channel Total | May     | 396.867 |
| Channel Total | Jun     | 400.013 |
| Channel Total | Jul     | 386.708 |
| Channel Total | Aug     | 389.416 |
| Channel Total | Sep     | 352.259 |
| Channel Total | Oct     | 350.728 |
| Channel Total | Nov     | 348.037 |
| Channel Total | Dec     | 352.958 |
| Channel Total | Year    | 376.546 |
| 10            | Jan     | 382.746 |
| 10            | Feb     | 394.207 |
| 10            | Mar     | 372.614 |
| 10            | Apr     | 365.049 |
| 10            | May     | 370.822 |
| 10            | Jun     | 376.801 |
| 10            | Jul     | 390.453 |
| 10            | Aug     | 396.828 |
| 10            | Sep     | 330.063 |
| 10            | Oct     | 328.06  |
| 10            | Nov     | 324.078 |
| 10            | Dec     | 331.684 |
| 10            | Year    | 358.097 |
| 20            | Jan     | 405.93  |
| 20            | Feb     | 417.38  |
| 20            | Mar     | 417.012 |
| 20            | Apr     | 416.867 |
| 20            | May     | 417.729 |
| 20            | Jun     | 416.194 |
| 20            | Jul     | 369.141 |
| 20            | Aug     | 368.681 |
| 20            | Sep     | 369.537 |
| 20            | Oct     | 368.912 |
| 20            | Nov     | 368.269 |
| 20            | Dec     | 370.431 |
| 20            | Year    | 388.22  |
| 30            | Jan     | 353.966 |
| 30            | Feb     | 456.823 |
| 30            | Mar     | 462.833 |
| 30            | Apr     | 461.98  |
| 30            | May     | 460.479 |
| 30            | Jun     | 459.626 |
| 30            | Jul     | 434.233 |
| 30            | Aug     | 433.896 |
| 30            | Sep     | 432.375 |
| 30            | Oct     | 430.9   |
| 30            | Nov     | 430.553 |
| 30            | Dec     | 430.016 |
| 30            | Year    | 438.881 |

## 3. Creating Prompt

Construct your prompt which will be passed to Large Language Model (LLM).

In [7]:
prompt = f"Extract the key findings from the table regarding units sold and describe their development.\n\n{df_md}"
print(prompt)

Extract the key findings from the table regarding units sold and describe their development.

| Channel       | Month   |   Value |
|:--------------|:--------|--------:|
| Channel Total | Jan     | 388.216 |
| Channel Total | Feb     | 408.471 |
| Channel Total | Mar     | 397.142 |
| Channel Total | Apr     | 393.118 |
| Channel Total | May     | 396.867 |
| Channel Total | Jun     | 400.013 |
| Channel Total | Jul     | 386.708 |
| Channel Total | Aug     | 389.416 |
| Channel Total | Sep     | 352.259 |
| Channel Total | Oct     | 350.728 |
| Channel Total | Nov     | 348.037 |
| Channel Total | Dec     | 352.958 |
| Channel Total | Year    | 376.546 |
| 10            | Jan     | 382.746 |
| 10            | Feb     | 394.207 |
| 10            | Mar     | 372.614 |
| 10            | Apr     | 365.049 |
| 10            | May     | 370.822 |
| 10            | Jun     | 376.801 |
| 10            | Jul     | 390.453 |
| 10            | Aug     | 396.828 |
| 10            | Sep     | 330.063 |
| 10            | Oct     | 328.06  |
| 10            | Nov     | 324.078 |
| 10            | Dec     | 331.684 |
| 10            | Year    | 358.097 |
| 20            | Jan     | 405.93  |
| 20            | Feb     | 417.38  |
| 20            | Mar     | 417.012 |
| 20            | Apr     | 416.867 |
| 20            | May     | 417.729 |
| 20            | Jun     | 416.194 |
| 20            | Jul     | 369.141 |
| 20            | Aug     | 368.681 |
| 20            | Sep     | 369.537 |
| 20            | Oct     | 368.912 |
| 20            | Nov     | 368.269 |
| 20            | Dec     | 370.431 |
| 20            | Year    | 388.22  |
| 30            | Jan     | 353.966 |
| 30            | Feb     | 456.823 |
| 30            | Mar     | 462.833 |
| 30            | Apr     | 461.98  |
| 30            | May     | 460.479 |
| 30            | Jun     | 459.626 |
| 30            | Jul     | 434.233 |
| 30            | Aug     | 433.896 |
| 30            | Sep     | 432.375 |
| 30            | Oct     | 430.9   |
| 30            | Nov     | 430.553 |
| 30            | Dec     | 430.016 |
| 30            | Year    | 438.881 |

## 4. Configuring watsonx.ai

The following section defines the input to the Large Language Model (LLM).

Provides the credential for watsonx.ai as indicated below

1. `watsonx_project_id` - The watsonx.ai **Project ID** provided in watsonx.ai project -> Manage -> Project id
2. `api_key` - The **API Key** provided in IBM Cloud -> Manage -> API Key

In [8]:
# URL of the hosted LLMs is hardcoded because at this time all LLMs share the same endpoint
url = "https://us-south.ml.cloud.ibm.com"

# Replace with your watsonx project id (look up in the project Manage tab)
watsonx_project_id = "<YOUR WATSONX.AI PROJECT ID HERE>"

# Replace with your IBM Cloud key
api_key = "<YOUR IBM CLOUD API KEY HERE>"

In [9]:
model_init = None
# Initialize the watsonx model
def get_model(model_type,max_tokens,min_tokens,decoding,temperature):#, repetition_penalty):

    generate_params = {
        GenParams.MAX_NEW_TOKENS: max_tokens,
        GenParams.MIN_NEW_TOKENS: min_tokens,
        GenParams.DECODING_METHOD: decoding,
        GenParams.TEMPERATURE: temperature,
    }
    global model_init
    if model_init == None:
        model_init = Model(
            model_id=model_type,
            params=generate_params,
            credentials={
                "apikey": api_key,
                "url": url
            },
            project_id= watsonx_project_id
            )

    return model_init

The following block specifies the the specifics for the LLM. In a PoX, you may want to vary these values to show a client how they can get the best results.

1. **model_type** specifies the LLM being used. In the example below it is the llama-2-70b-chat model. You can change it to other models. Note that the size of the model will have implications on resource usage. You may wish to try some of the other ones in a PoX and see if they will provide different results. In the block below, there are 4 models (with 3 commented out, so llama2 is being used - you can comment out different ones to try). Refer [here](https://dataplatform.cloud.ibm.com/docs/content/wsj/analyze-data/fm-api-model-ids.html?context=wx&audience=wdp), for exhaustive list of models supported.

2. **max_tokens** specifies the maximum number of output tokens. Keep in mind that 1 token does not equal 1 word. In general, you can estimate roughly 3 tokens per word.

3. **min_tokens** specifies the minimum number of output tokens.

4. **decoding** specifies the decoding method. You can also choose to do **sampling** decoding - in which case you can specify more parameters (such as **Top-P** and **Top-K**). More information on these additional parameters can be found from the Watsonx.ai Technical Sales Level 3 class (https://learn.ibm.com/course/view.php?id=13452).

5. **temperature** specifies how conservative or creative the model will be. The lower it is, the more conservative it it. The range is from 0 to 2.

In [11]:
# Set up watsonx model and parameters
model_type = "meta-llama/llama-2-70b-chat"
# model_type = "google/flan-t5-xxl"
# model_type = "ibm/granite-13b-chat-v1"
# model_type = "ibm/granite-13b-instruct-v1"
# model_id = "ibm/mpt-7b-instruct2"
max_tokens = 1000
min_tokens = 50
decoding = DecodingMethods.GREEDY
temperature = 0.7

# Get the watsonx model
model = get_model(model_type, max_tokens, min_tokens, decoding, temperature)

## 5. Summary Generation

This block generates a summary based on the input prompt and the specified parameters.

In [12]:
# Send a prompt to model
generated_response = model.generate(prompt)
response_text = generated_response['results'][0]['generated_text']

# Print model response
print("--------------------------------- Generated response -----------------------------------")
print(response_text)

--------------------------------- Generated response -----------------------------------


The table shows the sales data for three different channels (10, 20, and 30) over a period of 12 months. The data includes the total value sold for each channel in each month, as well as the yearly total.

The key findings from the table regarding units sold are:

1. Channel 10: The total value sold for Channel 10 ranges from 358.097 in January to 396.828 in August, with a yearly total of 376.546.
2. Channel 20: The total value sold for Channel 20 ranges from 405.93 in January to 368.681 in August, with a yearly total of 388.22.
3. Channel 30: The total value sold for Channel 30 ranges from 353.966 in January to 462.833 in March, with a yearly total of 438.881.

In terms of development, it appears that Channel 10 has had a steady increase in sales over the year, with a peak in August. Channel 20 has had a similar trend, with a peak in June. Channel 30 has had a more inconsistent trend, with a peak in March and a low point in September.

It's worth noting that the data provided is only for 12 months, so it's difficult to make any long-term conclusions about the development of the channels. Additionally, it would be helpful to have more context about the data, such as information about the products being sold, the target audience, and any marketing or sales strategies that may be influencing the results.